<h1>Session {{ id }}</h1>

<div class="alert alert-primary">Participating as <strong>{{ name }}</strong>.</div>

<form>
  <div class="form-group">
    <button (click)="vote(o)" type="button" class="btn btn-outline-info voting-button" *ngFor="let o of votingOptions"
      [ngClass]="{active: o == lastVote()}">
      {{ o }}
    </button>
  </div>

  <div class="form-group">
    <button (click)="clearAll()" type="button" class="btn btn-dark">
      Clear All
    </button>
    <button (click)="showAll()" type="button" class="btn btn-primary">
      Show All
    </button>
  </div>

  <ul class="list-group">
    <li *ngFor="let p of participants()" class="participant-list-item list-group-item d-flex justify-content-between align-items-center"
      [ngClass]="{ 'list-group-item-light': p == this.name }">
      {{p}}
      <span>
          <span *ngIf="voteByName(p)" class="badge badge-primary badge-info mr-1">
            {{ voteByName(p) }}
          </span>
          <span *ngIf="hasVoted(p)" class="badge badge-primary badge-success">
            Voted
          </span>
      </span>
    </li>
  </ul>
</form>