<h1>Almost there!</h1>
<form>
  <div class="form-group">
    <label for="sessionId">Join Session</label>
    <input #sessionId id="sessionId" type="number" required class="form-control">
  </div>

  <div class="form-group">
    <label for="name">Your name</label>
    <input #name id="name" type="text" autocomplete="given-name" required class="form-control">
  </div>

  <button type="button" id="joinSession" (click)="joinSession(sessionId.value, name.value)" class="btn btn-primary">Join Session</button>
</form>